@tailwind base;
@tailwind components;
@tailwind utilities;

/************* Scroll bar color change *************/
/* Change the color of the scrollbar track */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

/************* Scroll bar Dark theme *************/
::-webkit-scrollbar-track {
    background-color: #111827;
    /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #1f2937;
    /* Color of the scrollbar thumb */
    border-radius: 6px;
    /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f97316;
    /* Color of the thumb on hover */
}
/* Show the scrollbar on hover */
/* Adjust the opacity to your preference */
.scrollable-div:hover::-webkit-scrollbar {
    opacity: 1;
}